.company-details-page {

}
.company-details-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: .25rem 0.5rem ;
    color: #0c5460;
}
.company-details-middle-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.company-details-middle-part > div {
    flex: 1;
    justify-self: center;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
}
.company-details-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.company-details-edit {
    margin: 1rem;
    color: whitesmoke;
    background-color: #0c5460;
}
.company-details-edit:hover {
    background-color: #0e7292;
}
.company-details-edit:active {
    background-color: #0c5460;
}
.company-details-delete:hover {
    background-color: #0e7292;
}
.company-details-delete:active {
    background-color: #0c5460;
}
.company-details-delete {
    margin: 1rem;
    color: whitesmoke;
    background-color: #0c5460;
}
