.company-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.company-card {
    border: solid #ccc 1px;
    margin: 0.25rem 0.5rem;
}
.company-name {
    font-family: "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: .25rem 0.5rem ;
    color: #0c5460;
    flex: 1;
}
.company-location {
    font-family: "Lucida Grande", sans-serif;
    font-size: 0.7rem;
    margin: .25rem 0.5rem 0.5rem 1rem;
    padding-left: 1rem;
    border-left: solid #ccc 1px;
    flex: 1;
}
.company-more {
    margin-left: auto;
    flex: 0 0 3rem;
    font-family: "Lucida Grande", sans-serif;
    font-size: 0.7rem;
}
.company-description {
    font-family: "Lucida Grande", sans-serif;
    font-size: 0.7rem;
    margin: 0.25rem 1rem;
}
